<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.omvp.app">

    <!-- uses permissions ====================================================================== -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- used in geolocation -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- used for save pictures -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- used to make photos -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- used to use vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <!-- uses features ========================================================================= -->
   
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <!-- meta data ============================================================================= -->

    <!-- application =========================================================================== -->

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- FileProvider: Here you define where the images will be saved -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <!-- =========== Activities =============================================================-->

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Home"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".dispatcher.BrowserDispatcherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <data android:scheme="${schemaName}"/>
                <data android:host="open"/>
                <data android:pathPattern=".*"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>

        </activity>

        <!-- =========== Services ===============================================================-->

        <service
            android:name=".service.AppFirebaseInstanceIDService"
            android:exported="false">
            <!-- A service that extends FirebaseInstanceIdService to handle the creation, rotation,
            and updating of registration tokens.-->
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.AppFirebaseMessagingService"
            android:exported="false">
            <!-- A service that extends FirebaseMessagingService. This is required if you want to do
             any message handling beyond receiving notifications on apps in the background. -->
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- =========== Broadcast ==============================================================-->

        <receiver
            android:name=".receiver.AppUrbanAirshipReceiverService"
            android:exported="false">
            <!-- A broadcastReceiver that extends AirshipReceiver to handle push notifications -->
            <intent-filter>
                <action android:name="com.urbanairship.push.CHANNEL_UPDATED" />
                <action android:name="com.urbanairship.push.OPENED" />
                <action android:name="com.urbanairship.push.RECEIVED" />
                <action android:name="com.urbanairship.push.DISMISSED" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- ========= SAMPLES ================================================================= -->

        <activity
            android:name=".ui.samples.sample.SampleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_list.SampleListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_pager.SamplePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_multiple.SampleMultipleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_location.SampleLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_take_picture.SampleTakePictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_list_horizontal.SampleListHorizontalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_locale.SampleLocaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.detail.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_vibration.VibrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.samples.sample_inputs.SampleInputActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Sample"
            android:windowSoftInputMode="stateVisible|adjustResize"/>

        <!-- =================================================================================== -->

    </application>

</manifest>
